<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication with Node</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Node Authentication</h1>
				<p>Login or Register</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Local Login
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Local Signup
				</a>
			</div>
		</div>
	</div>

</body>
</html>
